//set variables for a color palette
$color-primary: #60738C;
$color-secondary: #A33536;
$color-tertiary: #528CBC;
$color-error: #FF5255;
$color-success: #356E46;
$color-black: #000;
$color-white: #fff;
$color-lightgrey: #AFAFAF;
$color-darkgrey: #494949;

//add padding var
$pad: 0.5em;

//add a font var
$font-helvetica: helvetica;
$font-monospace: monospace;
