@import "../../style/_vars.scss";

.note-form {
  margin: 20px auto;
  width: 50%;
  border: 2px solid $color-black;
  border-radius: 10px;
}
.note-form h1{
  text-align: center;
  font-size: 18px;
  font-family: $fontface-main, $fontface-sans-serif;
}
