$color-background: #fffcf4;
$color-primary: #571133;
$color-secondary: #38001c;
$color-error: red;
$color-success: green;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #aaa;

$pad: 0.5em;
$font-sans: Helvetica;
$font-serif: Georgia;
