$color-primary: #6BD2FF;
$color-secondary: #5D34FF;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #dcdcdc;
$color-grey: #666699;
$color-darkgrey: #7F7F7F;
$color-blue: #0066cc;
$color-darkblue: #003366;
$pad: .3em;

$font-lobster: 'lobster', cursive;
$text-font: 'Lora', serif;
