$color-primary: #183152;
$color-secondary: #375D81;
$color-error: #5F2B25;
$color-success: #70851A;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #E1E6FA;
$color-grey: #C4D7ED;
$color-darkgrey: #ABC8E2;

$pad: 0.5em;

$font-sansserif: Helvetica, sans-serif;
$font-monospace: monospace;