$color-primary: #48D1CC;
$color-secondary: #90FEFB	;
$color-error: #FF3030;
$color-success: #00CD66;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #aaa;
$color-grey: #777;
$color-darkgrey: #444;

$pad: 0.5em;

$font-sans-serif: 'Lato' sans-serif;
$font-monospace: monospace;
