@import './_vars.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-family: serif;
  border: none;
  font-size: $font-size;
  list-style: none;
}
