.form-label {
  padding-left: 1em;
  padding-top: 1em;
  font-size: 2em;
}

.form-input {
  margin-left: 1em;
  padding-left: 1em;
  width: 50%;
  display: inline;
  background-color: #fff;
}

.form-button {
  width: 15%;
  margin-left: 1em;
  padding-left: 1em;
  display: inline;
}
